:root{
    --cor-fundo:rgb(0, 0, 0);
    --cor-sombra : rgb(0, 0, 0);
    --cor-primaria:  rgb(255, 255, 255);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/* menu */
#menu{
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: var(--cor-fundo);
    box-shadow: 0 0 1em var(--cor-sombra);
}
#menu ul{
    background-color:rgb(78, 78, 78);
    min-width: 200px;
    max-width: 1080px;
}
#menu ul li{
    position: relative;
    display: inline;
}
#menu ul li a{
    color: var(--cor-primaria);
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom-width: 3px;
    border-bottom: outset;
    border-bottom-color: rgb(150, 150, 180);
    
    transition: background .2s;

}
#menu ul li a:hover{
    border-bottom: outset;
    border-bottom-width: 3px;
    border-color: var(--cor-fundo);
    font-size: 90%;
}
/* sub-menu */
#menu ul ul{
    background-color:rgb(78, 78, 78);
    width: 1080px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: 0;
}
#menu ul li:hover ul{
    display: block;
    width: 200px;
    
}
#menu ul ul li a{
    display: block;
}
#menu ul ul li a:hover{
    border-color: rgb(0, 0, 0);
    background-color: var(--cor-fundo);
    font-size: 90%;
}
body{
    font-size: 120%;
    background-color: rgb(226, 226, 226);
}

#container{
    min-width: 200px;
    max-width: 1080px;
    max-height: 1800px;
    background-color:rgb(255, 255, 255);
    margin: 0 auto 0 auto;
    padding: 0;
    box-shadow: 0 5px 5px var(--cor-sombra);
    
}
#titulo{
    background-color:rgb(146, 1, 1);
    padding: 20px;
    color: rgb(238, 238, 238);
    text-align: center;
    font-weight: 800;
    text-shadow: 1px 2px 1px rgb(32, 32, 32);
}
#sub{
    text-align: center;
    font-weight:550;
}
p{
    text-align: justify;
    padding: 20px;
}
#pontos{
    margin-left: 60px;
    list-style:square;
    font-size: 80%;
}
/* fim de página */
#end-page{
    text-align: center;
    padding: 20px;
}
